@font-face {
  font-family: "Old Standard TT";
  src: url("../fonts/OldStandardTT.ttf") format("truetype");
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.ttf") format("truetype");
}
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

section, footer {
  padding: 1rem;
  padding-top: 4rem;
  padding-bottom: 0;
}

.text, .button {
  color: #222;
  margin: 0;
}
.text--title-1 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 50px;
  letter-spacing: -1.5px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.text--title-2 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -1.5px;
}
.text--title-3 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -1.5px;
}
.text--price-1 {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 32px;
}
.text--price-2 {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 24px;
}
.text--paragraph-1 {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 14px;
}
.text--paragraph-2, .text--title-up, .text--button, .button {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14px;
}
.text--pagination {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 16px;
}
.text--color-1, .text--button, .button {
  color: white;
}
.text--color-2 {
  color: #C2C2C2;
}
.text--color-3 {
  color: #777;
}
.text--color-4 {
  color: #333;
}
.text--color-5 {
  color: #BEAD8E;
}
.text--align-center, .text--button, .button {
  text-align: center;
}
.text--align-end {
  text-align: end;
}
.text--spaced, .text--title-up, .text--button, .button {
  letter-spacing: 2.8px;
}
.button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-top: 1.5rem;
}
.button--size-big, .button--variant-outlined, .button--variant-gold {
  width: 15rem;
  padding: 1rem;
}
.button--variant-gold {
  background-color: #BEAD8E;
}
.button--variant-outlined {
  border: 2px solid #BEAD8E;
}
.button:hover {
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
header .header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
header .menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.logo div {
  display: inline-block;
}
.logo img {
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}

.icon {
  padding: 0.5rem;
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}
.icon--background-white {
  background-color: white;
}

.hidden {
  display: none !important;
}

.home {
  padding-top: 8.25rem !important;
  padding-bottom: 5rem !important;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #333;
}

.availability {
  background-color: #222;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.availability form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.availability form input[type=date] {
  margin-top: 1rem;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  background-color: transparent;
  color: white;
  width: 100%;
}
.availability form input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 15px;
  background-image: url("../assets/icons/calendar.svg");
}
.availability form input[type=date]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}
.availability form input[type=date]::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 10px;
}
.availability form input[type=date]::-webkit-datetime-edit-fields-wrapper:hover {
  cursor: text;
}
.availability form input[type=date]::-webkit-datetime-edit {
  position: relative;
  left: 10px;
}
.availability form input[type=date]::-webkit-datetime-edit:hover {
  cursor: text;
}
.availability form input[type=date]:focus {
  outline: none;
}

.about {
  background-color: #F8F8F8;
  padding-bottom: 12rem;
}

/*# sourceMappingURL=styles.css.map */
