@font-face {
  font-family: "Old Standard TT";
  src: url("../fonts/OldStandardTT.ttf") format("truetype");
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/Archivo.ttf") format("truetype");
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald.ttf") format("truetype");
}
html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

section, footer {
  padding: 4rem 1rem;
}
section .no-margin, footer .no-margin {
  margin-left: -1rem;
  margin-right: -1rem;
}

.text, .button--size-big, .button--variant-outlined, .button--variant-gold {
  color: #222;
  margin: 0;
  width: 100%;
}
.text--title-1 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 56px;
  letter-spacing: -1.5px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.text--title-2 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -1.5px;
}
.text--title-3 {
  font-family: "Old Standard TT";
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -1.5px;
}
.text--title-4 {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 56px;
}
.text--title-4 span {
  font-size: 16px;
}
.text--price-1 {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 32px;
}
.text--price-1 span {
  font-size: 16px;
}
.text--price-2 {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 24px;
}
.text--price-2 span {
  font-size: 16px;
}
.text--paragraph-1 {
  font-family: "Archivo";
  font-weight: 400;
  font-size: 14px;
}
.text--paragraph-2, .text--background, .text--title-up, .text--button, .button--size-big, .button--variant-outlined, .button--variant-gold {
  font-family: "Archivo";
  font-weight: 700;
  font-size: 14px;
}
.text--pagination {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 16px;
}
.text--color-1, .text--button, .button--size-big, .button--variant-outlined, .button--variant-gold {
  color: white;
}
.text--color-2 {
  color: #C2C2C2;
}
.text--color-3 {
  color: #777;
}
.text--color-4 {
  color: #333;
}
.text--color-5 {
  color: #BEAD8E;
}
.text--align-center, .text--button, .button--size-big, .button--variant-outlined, .button--variant-gold {
  text-align: center;
}
.text--align-end {
  text-align: end;
}
.text--spaced, .text--title-up, .text--button, .button--size-big, .button--variant-outlined, .button--variant-gold {
  letter-spacing: 2.8px;
}
.text--background {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  margin-top: -4rem !important;
  font-size: 120px;
  color: #F8F8F8;
}

.button {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.button--size-big, .button--variant-outlined, .button--variant-gold {
  margin-top: 1.5rem;
  width: 15rem;
  padding: 1rem;
  display: block;
}
.button--variant-gold {
  background-color: #BEAD8E;
}
.button--variant-outlined {
  border: 2px solid #BEAD8E;
}
.button:hover {
  cursor: pointer;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 20;
}
header .header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
header .menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}

.logo img {
  box-shadow: 0px 14px 24px rgba(139, 139, 139, 0.25);
}
.logo p {
  font-family: "Archivo";
}
.logo p:first-of-type {
  font-weight: 700;
}
.logo p:last-of-type {
  font-weight: 400;
}
.logo div {
  display: inline-block;
}
.logo--size-small {
  display: inline-block;
  margin-left: 0.5rem;
}
.logo--size-small p {
  font-size: 16px;
}
.logo--size-big {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo--size-big img {
  width: 4.5rem !important;
  height: 4.5rem !important;
  padding: 1.25rem !important;
}
.logo--size-big p {
  font-size: 32px;
}

.icon, .logo img {
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
}
.icon--background-white, .logo img {
  background-color: white;
}
.icon--background-gold, .logo--size-big img {
  background-color: #BEAD8E;
}
.icon--background-grey {
  background-color: #F8F8F8;
}
.icon--variant-big {
  width: 30%;
  max-width: 10rem;
  height: auto;
  z-index: 10;
}
.icon--variant-medium {
  width: 4rem;
  height: auto;
  z-index: 10;
}
.icon--variant-background {
  position: absolute;
  width: 50%;
  height: auto;
  z-index: 0;
}

.hidden {
  display: none !important;
}

.home {
  padding-top: 8.25rem !important;
  padding-bottom: 5rem !important;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #333;
}

.availability {
  background-color: #222;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.availability form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.availability form input[type=date] {
  margin-top: 1rem;
  border: none;
  border-bottom: 2px solid #BEAD8E;
  background-color: transparent;
  color: white;
  width: 100%;
}
.availability form input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 15px;
  background-image: url("../assets/icons/calendar.svg");
}
.availability form input[type=date]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}
.availability form input[type=date]::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 10px;
}
.availability form input[type=date]::-webkit-datetime-edit-fields-wrapper:hover {
  cursor: text;
}
.availability form input[type=date]::-webkit-datetime-edit {
  position: relative;
  left: 10px;
}
.availability form input[type=date]::-webkit-datetime-edit:hover {
  cursor: text;
}
.availability form input[type=date]:focus {
  outline: none;
}

.about {
  background-color: #F8F8F8;
  padding-bottom: 12rem;
}

.card {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.card .lonely {
  margin: 1rem;
}
.card .lonely img {
  aspect-ratio: 1;
  width: 100%;
}
.card .content {
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
}
.card .content .text--paragraph-1 {
  width: 75%;
}
.card .content .icon--variant-background {
  top: 10%;
  right: 0;
}
.card .content .entry {
  margin: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.card .content .entry .text--paragraph-1 {
  width: 100%;
}
.card .content .entry .img {
  aspect-ratio: 1;
  width: 60%;
  max-width: 6rem;
}
.card .content .entry .img--icon {
  width: 4rem;
  padding: 1rem;
}
.card .content .entry .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .content .entry .data {
  margin-left: 1rem;
}
.card .content .entry:last-of-type {
  margin-bottom: 4rem;
}
.card .content--negative-margin {
  height: auto;
  padding: 1rem 0;
  margin-top: -1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: white;
}
.card .content--align-left {
  display: block;
  margin: 2rem;
  margin-top: 4rem;
}
.card .content--align-left p {
  margin-top: 1rem;
}
.card--margin-negative {
  margin-top: -12rem;
  margin-bottom: 2rem;
}
.card--shadow {
  box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
}
.card--black {
  background-color: #222;
  margin-top: 2rem;
}
.card--tall {
  aspect-ratio: 9/20;
  width: 75%;
  max-width: 30rem;
}
.card--tall .full {
  height: 50%;
}
.card--tall .full img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card--wide {
  width: 100%;
}
.card--wide .full {
  height: 50%;
  max-width: 100%;
  aspect-ratio: 16/9;
}
.card--wide .full img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card--center {
  align-items: center;
}

.intro {
  background-color: #222;
}

.video {
  position: relative;
  width: 100%;
  min-height: 15rem;
  margin-top: 2rem;
}
.video video {
  width: 100%;
  height: 100%;
  min-height: 15rem;
  object-fit: cover;
}
.video video:hover {
  cursor: pointer;
}
.video img {
  box-sizing: content-box;
  position: absolute;
  background-color: white;
  height: 1rem;
  width: 1rem;
  padding: 1.5rem;
  border-radius: 100%;
  top: calc(50% - 2rem);
  left: calc(50% - 2rem);
  z-index: 10px;
}
.video img:hover {
  cursor: pointer;
}

.rooms .icons {
  position: relative;
  margin: auto;
  margin-bottom: -1rem;
  z-index: 10;
  width: fit-content;
  background-color: white;
  padding: 0 0.75rem;
}

.swiper-button-prev {
  width: 3rem !important;
  height: 3rem !important;
  padding: 1rem !important;
  top: 28.125vw !important;
  left: 0 !important;
}
.swiper-button-prev:hover {
  background-color: #BEAD8E;
  cursor: pointer;
}

.swiper-button-next {
  width: 3rem !important;
  height: 3rem !important;
  padding: 1rem !important;
  top: 28.125vw !important;
  right: 0 !important;
}
.swiper-button-next:hover {
  background-color: #BEAD8E;
  cursor: pointer;
}

.swiper-button-next-alt {
  position: absolute;
  z-index: 10;
  bottom: 0 !important;
  width: 3rem !important;
  height: 3rem !important;
  padding: 1rem !important;
  right: 0 !important;
}
.swiper-button-next-alt:hover {
  background-color: #BEAD8E;
  cursor: pointer;
}

.swiper-button-prev-alt {
  position: absolute;
  z-index: 10;
  bottom: 0 !important;
  width: 3rem !important;
  height: 3rem !important;
  padding: 1rem !important;
  right: 4rem !important;
}
.swiper-button-prev-alt:hover {
  background-color: #BEAD8E;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #BEAD8E !important;
}

.swiper-pagination {
  position: relative !important;
}

.achievements {
  background-color: #222;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

footer {
  background-image: url("../../assets/icons/background-1.svg");
}
footer .footer-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}
footer .footer-section .row {
  display: flex;
  justify-content: space-between;
}
footer .footer-section .column p {
  margin-top: 1.5rem;
}
footer .footer-section .column p:first-of-type {
  margin-top: 0;
}

/*# sourceMappingURL=styles.css.map */
