.availability {
    background-color: $color-grey-5;
    padding: $margin-1;
    padding-top: $margin-2;
    padding-bottom: $margin-2;

    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        input[type="date"] {
            margin-top: 1rem;
            border: none;
            border-bottom: 2px solid $color-gold;
            background-color: transparent;
            color: $color-white;
            width: 100%;

            &::-webkit-calendar-picker-indicator {
                position: absolute;
                left: 15px;
                background-image: url('../assets/icons/calendar.svg');

                &:hover {
                    cursor: pointer;
                }
            }

            &::-webkit-datetime-edit-fields-wrapper {
                position: relative;
                left: 10px;

                &:hover {
                    cursor: text;
                }
            }

            &::-webkit-datetime-edit {
                position: relative;
                left: 10px;

                &:hover {
                    cursor: text;
                }
            }

            &:focus {
                outline: none;
            }
        }
    }
}