.button {
    background-color: transparent;
    border: none;
    border-radius: 0;

    &--variant-gold {
        background-color: $color-gold;
    }

    &--variant-outlined {
        border: 2px solid $color-gold;
    }

    &:hover{
        cursor: pointer;
    }
}