@mixin weight-1 {
    font-weight: 400;
}

@mixin weight-2 {
    font-weight: 700;
}

@mixin font-1 {
    font-family: 'Old Standard TT', 'Times New Roman';
}

@mixin font-2 {
    font-family: 'Archivo', 'Roboto';
}

@mixin font-3 {
    font-family: 'Oswald', 'Archivo', 'Roboto';
}