@mixin weight-1 {
    font-weight: 400;
}

@mixin weight-2 {
    font-weight: 700;
}

@mixin font-1 {
    font-family: 'Old Standard TT', 'Times New Roman';
}

@mixin font-2 {
    font-family: 'Archivo', 'Roboto';
}

@mixin font-3 {
    font-family: 'Oswald', 'Archivo', 'Roboto';
}

@mixin font-size-1 {
    font-size: 14;
}

@mixin font-size-2 {
    font-size: 16;
}

@mixin font-size-3 {
    font-size: 24;
}

@mixin font-size-4 {
    font-size: 32;
}

@mixin font-size-5 {
    font-size: 56;
}