.text {
    color: $color-grey-5;
    margin: 0;

    &--title-1 {
        @include font-1;
        @include weight-1;
        @include font-size-5;
    }

    &--title-2 {
        @include font-1;
        @include weight-1;
        @include font-size-4;
    }
    
    &--title-3 {
        @include font-1;
        @include weight-1;
        @include font-size-3;
    }

    &--price-1 {
        @include font-2;
        @include weight-2;
        @include font-size-4;
    }

    &--price-2 {
        @include font-2;
        @include weight-2;
        @include font-size-3;
    }

    &--paragraph-1 {
        @include font-2;
        @include weight-1;
        @include font-size-2;
    }

    &--paragraph-2 {
        @include font-2;
        @include weight-2;
        @include font-size-2;
    }

    &--pagination {
        @include font-3;
        @include weight-2;
        @include font-size-2;
    }

    &--color-1 {
        color: $color-white;
    }

    &--color-2 {
        color: $color-grey-2;
    }

    &--color-3 {
        color: $color-grey-3;
    }

    &--color-4 {
        color: $color-grey-4;
    }

    &--color-5 {
        color: $color-gold;
    }

    &--align-center {
        text-align: center;
    }

    &--align-end {
        text-align: end;
    }
}