@import './general/variables';
@import './general/mixins';
@import './general/fonts';

@import './general/general';
@import './general/section';
@import './general/text';
@import './general/button';
@import './general/header';
@import './general/logo';
@import './general/icon';
@import './general/hidden';
@import './general/home';
@import './home/availability';
@import './home/about';
@import './general/card';
@import './home/intro';
@import './general/video';
@import './general/swiper';
@import './home/achievements';
@import './general/footer';
@import './general/row';
@import './general/form';