.button {
    @extend .text, .text--button;
    background-color: transparent;
    border: none;
    border-radius: 0;

    &--size-big {
        margin-top: 1.5rem;
        width: 15rem;
        padding: 1rem;
    }

    &--variant-gold {
        @extend .button--size-big;
        background-color: $color-gold;
    }

    &--variant-outlined {
        @extend .button--size-big;
        border: 2px solid $color-gold;
    }

    &:hover{
        cursor: pointer;
    }
}