.card {
    margin: auto;
    display: flex;
    flex-direction: column;

    @mixin image {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .image {
        @include image;
        position: relative;
        width: 100%;
        aspect-ratio: 16/9;
        margin-bottom: 2rem;

        &--rounded {
            margin: auto;
            width: 40%;
            aspect-ratio: 1;

            img {
                border-radius: 100%;
            }
        }

        .tick {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $color-gold;
            border: 0.75vw $color-white solid;
            height: 9vw;
            width: 9vw;
            padding: 2vw;
        }
    }

    .lonely {
        margin: 1rem;

        img {
            aspect-ratio: 1;
            width: 100%;
            object-fit: cover;
        }
    }

    .content {
        height: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        align-items: center;
        width: 100%;

        .text--paragraph-1 {
            width: 75%;
        }

        .icon--variant-background {
            top: 10%;
            right: 0;
        }

        .entry {
            position: relative;
            padding: 1rem 0rem;
            width: 100%;
            display: flex;
            align-items: center;

            &--padding-small{
                padding: 0.5rem 1rem;
            }

            .text--paragraph-1 {
                width: 100%;
            }

            .img {
                aspect-ratio: 1;
                width: 60%;
                max-width: 6rem;

                &--icon {
                    width: 4rem;
                    padding: 1rem;
                }

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .data {
                margin-left: 1rem;

                p {
                    margin: 0 !important;
                }
            }

            .icon {
                margin-left: auto;
            }

            &--margin-bottom {
                margin-bottom: 4rem;
            }
        }

        &--negative-margin {
            height: auto;
            padding: 1rem 0;
            margin-top: -2rem;
            margin-left: $margin-1;
            margin-right: $margin-1;
        }

        &--align-start {
            align-items: start;
        }

        &--variant-facilities {
            display: block;
            padding: 1rem;
            padding-bottom: 4rem;
            margin: 1rem;
            padding-top: 5rem;

            p {
                margin-top: 1rem;
            }
        }

        &--variant-offers {
            padding: 1rem;
            align-items: start;

            .text--paragraph-1 {
                width: 100%;
            }

            .prices {
                position: absolute;
                right: 1rem;
                top: -4.5rem;
            }

            padding-bottom: 3rem;
        }

        &--background-black {
            background-color: $color-grey-4;
        }

        &--background-white {
            background-color: $color-white;
        }

        &--padding-bottom {
            padding-bottom: 2rem;
        }

        &--height-full{
            height: 100%;
        }
    }

    &--margin-negative {
        margin-top: -12rem;
        margin-bottom: 2rem;
    }

    &--margin-top {
        margin-top: 1rem;
    }

    &--shadow {
        box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
    }

    &--black {
        background-color: $color-grey-5;
        margin-top: 2rem;
    }

    &--tall {
        aspect-ratio: 9/20;
        width: 75%;
        max-width: 30rem;

        .full {
            @include image;
            height: 50%;
        }
    }

    &--wide {
        width: 100%;

        .full {
            @include image;
            height: 50%;
            max-width: 100%;
            aspect-ratio: 16/9;
        }
    }

    &--center {
        align-items: center;
        justify-content: center;
    }

    &--square {
        width: 100%;
        aspect-ratio: 1;

        &-gold {
            background-color: $color-gold;

            p {
                color: $color-white !important;
            }
        }
    }
}