.card {
    margin: auto;

    @mixin image {
        height: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .lonely {
        margin: 1rem;

        img {
            aspect-ratio: 1;
            width: 100%;
        }
    }

    .content {
        height: 50%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        align-items: center;

        .text--paragraph-1 {
            width: 75%;
        }

        .icon--variant-background {
            top: 10%;
            right: 0;
        }

        .entry {
            margin: 1rem;
            display: flex;
            align-items: center;

            .text--paragraph-1 {
                width: 100%;
            }

            .img {
                aspect-ratio: 1;
                width: 60%;
                max-width: 6rem;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .data {
                margin-left: 1rem;
            }

            &:last-of-type {
                margin-bottom: 4rem;
            }
        }

        &--negative-margin {
            height: auto;
            padding: 1rem 0;
            margin-top: -1.5rem;
            margin-left: $margin-1;
            margin-right: $margin-1;
            background-color: $color-white;
        }

        &--align-left {
            display: block;
            margin: $margin-2;
            margin-top: $margin-3;

            p {
                margin-top: 1rem;
            }
        }
    }

    &--margin-negative {
        margin-top: -12rem;
        margin-bottom: 2rem;
    }

    &--shadow {
        box-shadow: 0px 8px 16px rgba(34, 34, 34, 0.02);
    }

    &--black {
        background-color: $color-grey-5;
        margin-top: 2rem;
    }

    &--tall {
        aspect-ratio: 9/20;
        width: 75%;
        max-width: 30rem;

        .full {
            @include image;
        }
    }

    &--wide {
        width: 100%;

        .full {
            @include image;
            max-width: 100%;
            aspect-ratio: 16/9;
        }
    }
}