footer {
    background-image: url('../../assets/icons/background-1.svg');

    .footer-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    }

    padding-bottom: 0;

    .foots-footer {
        background-color: $color-grey-1;
        margin-left: -$margin-1;
        margin-right: -$margin-1;
        padding: $margin-1;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}