footer {
    background-image: url('../../assets/icons/background-1.svg');

    .footer-section {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 2rem;
    }
}