header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-white;
    z-index: 20;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }

    .menu {
        display: flex;
        flex-direction: column;
        padding: $margin-1;
        gap: 0.5rem;
    }
}