header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    background-color: $color-grey-5;

    .header {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
        background-color: $color-white;
        align-items: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        padding: $margin-1;
        gap: 0.5rem;
        background-color: $color-white;
    }

    .menu-alt  {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    header {
        padding-top: $margin-2;
        padding-left: $margin-4;
        padding-right: $margin-4;

        .header {
            margin-bottom: -1.5rem;

            .toggler {
                display: none;
            }

            .menu-alt  {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                width: 50%;
            }
        }
    }
}