.home {
    padding-top: calc(3.25rem + $margin-4) !important;
    padding-bottom: $margin-4 !important;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: $color-grey-4;
}