.home {
    padding-top: calc(3.25rem + $margin-4) !important;
    padding-bottom: 0 !important;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: $color-grey-4;

    .path {
        background-color: $color-white;
        width: fit-content;
        margin-left: auto;
        padding: 0.5rem 1rem;

        * {
            display: inline-block;
            width: fit-content;
        }
    }

    &--margin-bottom {
        padding-bottom: $margin-4 !important;
    }
}