.icon {
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;

    &--background-white {
        background-color: $color-white !important;
    }

    &--background-gold {
        background-color: $color-gold !important;
    }

    &--background-grey {
        background-color: $color-grey-1 !important;
    }

    &--variant-big {
        height: 30%;
        max-width: 10rem;
        width: auto;
        z-index: 10;
    }

    &--variant-medium {
        width: 4rem;
        height: auto;
        z-index: 10;
    }

    &--variant-background {
        position: absolute;
        width: 50%;
        height: auto;
        z-index: 0;
    }
}

.icons {
    position: relative;
    margin: auto;
    z-index: 10;
    width: fit-content;
    background-color: $color-white;
    padding: 0 0.25rem;
    box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.05);

    
    &--margin-negative {
        margin-top: -1.25rem !important;
        margin-bottom: -1rem !important;
    }
}