.icon {
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;

    &--background-white {
        background-color: $color-white;
    }
    
    &--background-gold {
        background-color: $color-gold;
    }

    &--background-grey {
        background-color: $color-grey-1;
    }

    &--variant-big {
        height: 30%;
        max-width: 10rem;
        width: auto;
        z-index: 10;
    }

    &--variant-medium{
        width: 4rem;
        height: auto;
        z-index: 10;
    }

    &--variant-background {
        position: absolute;
        width: 50%;
        height: auto;
        z-index: 0;
    }
}