.icon {
    padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: transparent;

    &--background-white {
        background-color: $color-white;
    }

    &--variant-big {
        width: 30%;
        max-width: 10rem;
        height: auto;
        z-index: 10;
    }

    &--variant-background {
        position: absolute;
        width: 50%;
        height: auto;
        z-index: 0;
    }
}