@mixin weight-1 {
    font-weight: 400;
}

@mixin weight-2 {
    font-weight: 700;
}

@mixin font-1 {
    font-family: 'Old Standard TT';
}

@mixin font-2 {
    font-family: 'Archivo';
}

@mixin font-3 {
    font-family: 'Oswald';
}

@mixin font-size-1 {
    font-size: 14px;
}

@mixin font-size-2 {
    font-size: 16px;
}

@mixin font-size-3 {
    font-size: 24px;
}

@mixin font-size-4 {
    font-size: 32px;
}

@mixin font-size-5 {
    font-size: 50px;
}

@mixin font-size-6 {
    font-size: 120px;
}