.row {
    display: flex;
    justify-content: space-between;

    .column {
        width: 50%;

        p {
            margin-top: 1.5rem;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }
}