.text {
    color: $color-grey-5;
    margin: 0;
    width: 100%;

    &--title-1 {
        @include font-1;
        @include weight-1;
        @include font-size-5;

        letter-spacing: -1.5px;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    &--title-2 {
        @include font-1;
        @include weight-1;
        @include font-size-4;

        margin-top: 1.5rem;
        letter-spacing: -1.5px;
    }

    &--title-3 {
        @include font-1;
        @include weight-1;
        @include font-size-3;

        letter-spacing: -1.5px;
    }
    
    &--title-4 {
        @include font-2;
        @include weight-2;
        @include font-size-5;

        span {
            @include font-size-2;
        }
    }

    &--price-1 {
        @include font-2;
        @include weight-2;
        @include font-size-4;

        span {
            @include font-size-2;
        }
    }

    &--price-2 {
        @include font-2;
        @include weight-2;
        @include font-size-3;

        span {
            @include font-size-2;
        }
    }

    &--paragraph-1 {
        @include font-2;
        @include weight-1;
        @include font-size-1;
    }

    &--paragraph-2 {
        @include font-2;
        @include weight-2;
        @include font-size-1;
    }

    &--pagination {
        @include font-3;
        @include weight-2;
        @include font-size-2;
    }

    &--color-1 {
        color: $color-white;
    }

    &--color-2 {
        color: $color-grey-2;
    }

    &--color-3 {
        color: $color-grey-3;
    }

    &--color-4 {
        color: $color-grey-4;
    }

    &--color-5 {
        color: $color-gold;
    }

    &--color-background {
        color: $color-grey-1;
    }

    &--align-center {
        text-align: center;
    }

    &--align-end {
        text-align: end;
    }

    &--spaced {
        letter-spacing: 2.8px;
    }

    &--button {
        @extend .text--color-1, .text--align-center, .text--spaced, .text--paragraph-2;
    }

    &--title-up {
        @extend .text--paragraph-2, .text--spaced;
    }

    &--background {
        position: absolute;
        top: 3rem;
        right: 0;
        width: fit-content;
        margin-top: - $margin-3 !important;

        @extend .text--paragraph-2;
        @include font-size-6;
    }

    &--link {
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
    }

    &--space {
        
        white-space: pre;
    }
}