$color-white: #FCF9FF;
$color-grey-1: #F8F8F8;
$color-grey-2: #C2C2C2;
$color-grey-3: #777;
$color-grey-4: #333;
$color-grey-5: #222;
$color-gold: #BEAD8E;

$margin-1: 1rem;
$margin-2: 2rem;
$margin-3: 4rem;
$margin-4: 5rem;